#root {
  min-width: 1200px;
  max-width: 1280px;
  min-height: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
}

.sidenav {
  grid-column: 1;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}

.main-area {
  grid-column: 2;
  height: 100%;
  width: 100%;
  background-color: blanchedalmond;
}